imgui.ini
MAHI.log
.vscode/
.idea/
.DS_Store
Thumbs.db

**/.pio/
**/build/
**/__pycache__/
*.py[cod]
.venv/
venv/

source/firmware/esp32_node/include/project_config_local.h
source/edge_server/mqtt_listener/.env

source/docs/*.aux
source/docs/*.out
source/docs/*.log
source/edge_server/mqtt_listener/logs/
source/results/summaries/*_live.txt
source/test_codes/

tools/
material/
